.flip-list-move{
    transition: all 1s cubic-bezier;
}
.flip-list-leave-active{
   transition: all 0s ease;
}
.flip-list-enter-active{
   transition: all 1s ease;
}
.flip-list-enter{
   opacity: 0;
   transform: translateY(30px);
}
.flip-item-leave-active{
    transition: all .30s ease;
}
.flip-item-enter-active{
     transition: all .35s;
}
.flip-item-enter,.flip-item-leave-active{
    transform: translateY(30px);
    opacity: 0;
}
