.shadow-divider{
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .1);
}
.solid-divider{
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}
.height-60{
  height: 60px;
  line-height: 60px;
}
.height-50{
  height: 50px;
  line-height: 50px;
}

// 图标路径类
.workWindows{
  background-image:url('../../static/images/manage/竖菜单/仪表盘1.png')
}
.tsFiles{
  background-image:url('../../static/images/manage/竖菜单/师生档案1.png')
}
.courseManage{
  background-image:url('../../static/images/manage/竖菜单/课程管理1.png')
}
.classManage{
  background-image:url('../../static/images/manage/竖菜单/班级管理1.png')
}
.expenseManage{
  background-image:url('../../static/images/manage/竖菜单/收支管理1.png')
}
.piconectManage{
  background-image:url('../../static/images/manage/竖菜单/微网管理1.png')
}
.serviceStore{
  background-image:url('../../static/images/manage/竖菜单/服务商店1.png')
}

