.shadow-divider{
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .1);
}
.solid-divider{
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}
.height-60{
  height: 60px;
  line-height: 60px;
}
.height-50{
  height: 50px;
  line-height: 50px;
}
